<h1><%= @article.title %></h1>

<p>
  <%= @article.text %>
</p>
<%= link_to 'Back', articles_path %>


<h2>Comments</h2>
  <%= render @article.comments %>
  <% if user_signed_in? %>
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>
  <% else %>
    <p>
      you have to <%= link_to('Login', new_user_session_path)  %> to create comments
    </p>
  </div>
  <% end  %>
</div>
