<h1>skills</h1>

<% @skills.each do |skill|  %>
  <h2><%= skill.title %></h2>
    <p>
      <%= skill.description %>
      <% skill.activeties.each do |act| %>
        <ul>
          <li><%= act.name %></li>
        </ul>
    <% end %>
    </p>
    <%= link_to 'Show', skill_path(skill) %>
<% end %>


<% if can? :manage, :all %>
  <%= link_to 'New Skill', new_skill_path %>
<% end %>