<h1>work</h1>

<% @projects.each do |project|  %>
  <h2><%= project.title %></h2>
    <p>
      <%= project.description.truncate_words(50) %><br>
      <%= link_to 'read more', project %>
      <%= link_to 'see on github', project.link, :target => "_blank" %>
    </p>

    <%= image_tag('project.png', class: 'img-responsive') %>
<% end %>

<% if can? :manage, :all %>
  <%= link_to 'New Project', new_project_path %>
<% end  %>